
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f1f47;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    background: rgba(255, 255, 255, .15);
    box-shadow: 0 8px 32px rgba(31, 38, 135, .37);
    border: 1px solid rgba(255, 255, 255, .18);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    width: 320px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 5px;
}

.input-box input {
    width: 100%;
    height:  50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.remember-forgot label input{
    accent-color: #fa709a;
    margin-right: 3px;
}

button {
    width: 100%;
    height: 45px;
    background: #fa709a;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.register-link {
    font-size: .9em;
    text-align: center;
    color: #fff;
    margin: 25px 0 10px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg, rgba(47,184,255,.42) 31.77%, #5c9df1 100%);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    transform: translate(-100px, -50px) rotate(-90deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animateBlob 20s infinite alternate;
}

.blob:hover{
    width: 520px;
    height: 520px;
    filter: blur(30px);
    box-shadow: 
    inset 0 0 0 5px rgba(255, 255, 255, .6),
    inset 100px 100px 0 0 #fa709a,
    inset 200px 200px 0 0 #784ba8,
    inset 300px 300px 0 0 #2b86c5;
}

@keyframes animateBlob{
    100%{
        transform: translate(300px, 50px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}